<template>
  <Layout>
    <div>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="/">Accueil</a>
          </li>
          <li>
            <a :href="$page.element.category && $page.element.category.path">{{ $page.element.Cat_gorie }}</a>
          </li>
          <li class="is-active">
            <a :href="$page.element.page" aria-current="page">{{ $page.element.Titre }}</a>
          </li>
        </ul>
      </nav>
      <article>
        <div class="media">
          <figure class="media-left" v-if="$page.element.logo">
            <p class="image is-64x64">
              <img :src="$page.element.logo" />
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">{{ $page.element.Titre }}</h1>
            <p class="subtitle">{{ $page.element.resume }}</p>
            <p
              v-if="$page.element.Soci_t__ou_organisation && $page.element.Cr_ateur_s_"
            >Par {{ $page.element.Soci_t__ou_organisation }} et {{ $page.element.Cr_ateur_s_ }}</p>
            <p
              v-else-if="$page.element.Soci_t__ou_organisation || $page.element.Cr_ateur_s_"
            >Par {{ $page.element.Soci_t__ou_organisation }} {{ $page.element.Cr_ateur_s_ }}</p>
            <b-taglist>
              <b-tag v-for="tag in $page.element.tags" :key="tag.id" type="is-primary">
                <g-link :to="tag.path">{{ tag.id }}</g-link>
              </b-tag>
            </b-taglist>
          </div>
        </div>
        <div class="content">
          <p v-html="$page.element.Texte_descriptif.replace(/\n/g, '<br />')" />
          <p v-if="$page.element.Langue">Langue&nbsp;: {{ $page.element.Langue }}</p>
          <p v-if="$page.element.Licence_s_">License&nbsp;: {{ $page.element.Licence_s_ }}</p>
          <p v-if="$page.element.Disponible_sur">
            Disponible sur&nbsp;:
            <icon
              :icon="mapPlatformsToIcons(platform)"
              v-show="mapPlatformsToIcons(platform)"
              v-for="platform in $page.element.Disponible_sur.split(',').map(item => item.trim())"
              :key="platform"
            />
          </p>
          <div class="buttons">
            <b-button
              tag="a"
              icon-left="globe"
              target="_blank"
              type="is-primary"
              v-if="$page.element.Lien_officiel"
              :href="$page.element.Lien_officiel"
            >Site officiel</b-button>
            <span v-else>Pas de lien officiel</span>
            <b-button
              tag="a"
              icon-pack="fab"
              icon-left="wikipedia-w"
              target="_blank"
              type="is-info"
              v-if="$page.element.Page_Wikip_dia"
              :href="$page.element.Page_Wikip_dia"
            >Wikipédia</b-button>
            <b-button
              tag="a"
              target="_blank"
              icon-left="link"
              type="is-secondary"
              v-if="$page.element.Autre_lien"
              :href="$page.element.Autre_lien.split(';')[1]"
            >{{ $page.element.Autre_lien.split(';')[0]}}</b-button>
            <g-link
              v-if="$page.element.belongsTo.edges[0]"
              class="button"
              :to="$page.element.belongsTo.edges[0].node.path"
            >Existe sur Wikidata</g-link>
            <b-button
              tag="a"
              target="_blank"
              type="is-success"
              icon-left="external-link-alt"
              :href="`https://framalibre.org/content/${$page.element.id}`"
            >Framalibre</b-button>
          </div>
          <small>Créé le {{ $page.element.Post_date }} et mis à jour {{ $page.element.Updated_date }}</small>

          <div v-if="$page.element.Illustration.src">
            <VuePureLightbox
              style="width: 15rem;"
              :thumbnail="$page.element.Illustration.src"
              :images="[$page.element.Illustration.src]"
            />
          </div>
          <pre>{{ $page.element }}</pre>
        </div>
      </article>
    </div>
  </Layout>
</template>

<script>
import Icon from "@/components/Icon";
import VuePureLightbox from "vue-pure-lightbox";
import "vue-pure-lightbox/dist/VuePureLightbox.css";

const MAP_PLATFORMS_TO_ICONS = {
  "GNU/Linux": "linux",
  BSD: "freebsd",
  "Mac OS X": "apple",
  Windows: "windows",
  Android: "android",
  FirefoxOS: null,
  "Windows Mobile": null,
  "Apple iOS": "app-store-ios",
  Autre: "question-circle"
};

export default {
  components: {
    Icon,
    VuePureLightbox
  },
  methods: {
    mapPlatformsToIcons(platform) {
      return MAP_PLATFORMS_TO_ICONS[platform];
    }
  }
};
</script>

<page-query>
query($id: ID!) {
  element: elementFramalibre(id: $id) {
    id,
    Nid,
    Vid,
    Updated_date,
    Author_uid,
    Post_date,
    Cat_gorie,
    category {
      id,
      path
    },
    Titre,
    resume,
    tags {
      id,
      path
    }
    Lien_officiel,
    Texte_descriptif,
    _tiquettes,
    R_f_rencement_interne,
    Alternative_pour,
    Disponible_sur,
    logo,
    Autre_lien,
    Illustration {
      src,
      alt,
      title
    }
    All_taxonomy_terms,
    Alternative__,
    Ann_e_de_publication,
    Ann_e_de_sortie,
    Concerne_Framasoft,
    Cr_ateur_s_,
    Format_s_,
    Genre,
    Image {
      src,
      alt,
      title
    },
    Auteur_s_,
    ISBN,
    Langue,
    Licence_s_,
    Numero_de_la_revue_ou_du_journal,
    Page_Exodus_Privacy,
    Page_Wikip_dia,
    Soci_t__ou_organisation,
    Sortie___date_de_cr_ation,
    Sous_titre_du_livre,
    belongsTo {
      edges {
        node {
          ... on WikidataSoftware {
            id,
            logiciel_libreLabel,
            path
          }
        }
      }
    }
  }
}
</page-query>

<style lang="scss" scoped>
pre {
  white-space: break-spaces;
}

span.tag a {
  color: white;
}
</style>