<template>
  <Layout>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="/">Accueil</a>
        </li>
        <li class="is-active">
          <a :href="$page.tagFramalibre.path">{{ $page.tagFramalibre.id }}</a>
        </li>
      </ul>
    </nav>
    <h1 class="title">{{ $page.tagFramalibre.label }}</h1>
    <ul>
      <li v-for="edge in $page.tagFramalibre.belongsTo.edges" :key="edge.node.id">
        <div class="media">
          <figure class="media-left" v-if="edge.node.logo">
            <p class="image is-64x64">
              <img :src="edge.node.logo" />
            </p>
          </figure>
          <div class="media-content">
            <g-link :to="edge.node.path">{{ edge.node.Titre }}</g-link>
            <p>{{ edge.node.resume }}</p>
          </div>
        </div>
      </li>
    </ul>
  </Layout>
</template>

<page-query>
query($id: ID!) {
  tagFramalibre(id: $id) {
    id,
    path,
    belongsTo(sortBy: "Titre", order: ASC) {
      edges {
        node {
          ...on ElementFramalibre {
            id,
            Titre,
            resume,
            path,
            logo
          }
        }
      }
    }
  }
}
</page-query>