<template>
  <Layout>
    <article>
      <div class="media">
        <figure class="media-left" v-if="$page.wikidataSoftware.logo">
          <p class="image is-64x64">
            <img :src="$page.wikidataSoftware.logo" />
          </p>
        </figure>
        <div class="media-content">
          <h1 class="title">
            {{ $page.wikidataSoftware.logiciel_libreLabel }}
            <a
              class="has-text-grey-light is-small"
              target="_blank"
              :href="`https://www.wikidata.org/wiki/${$page.wikidataSoftware.item}`"
            >({{ $page.wikidataSoftware.item }})</a>
          </h1>
          <p class="subtitle">{{ $page.wikidataSoftware.logiciel_libreDescription }}</p>
        </div>
      </div>
      <div class="content">
        <g-link
          class="button"
          v-if="$page.wikidataSoftware.identifiant_Framalibre"
          :to="`/${$page.wikidataSoftware.identifiant_Framalibre}`"
        >Existe sur Framalibre</g-link>
        <div v-if="$page.wikidataSoftware.pic">
          <VuePureLightbox
            style="width: 15rem;"
            :thumbnail="$page.wikidataSoftware.pic"
            :images="[$page.wikidataSoftware.pic]"
          />
        </div>
        <pre>{{ $page.wikidataSoftware }}</pre>
      </div>
    </article>
  </Layout>
</template>

<script>
import VuePureLightbox from "vue-pure-lightbox";

export default {
  components: {
    VuePureLightbox
  }
};
</script>

<page-query>
query($id: ID!) {
  wikidataSoftware(id: $id) {
    id,
        item,
        logo,
        pic,
        logiciel_libreLabel,
        logiciel_libreDescription,
        path,
        identifiant_Framalibre
  },
}
</page-query>
<style lang="scss" scoped>
h1.title a {
  font-size: 1rem;
}
</style>