<template>
  <Layout>
    <ul>
      <li v-for="edge in $page.categories.edges" :key="edge.node.id" v-show="edge.node.belongsTo.totalCount > 0">
        <g-link :to="edge.node.path">{{ edge.node.id }} ({{ edge.node.belongsTo.totalCount }} éléments)</g-link>
      </li>
    </ul>
  </Layout>
</template>

<page-query>
query {
    categories: allCategorieFramalibre {
    edges {
      node {
        id,
        path,
        belongsTo {
          totalCount
        }
      }
    }
  },
}
</page-query>
