<template>
  <Layout>
    <h1>Hello, world!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur excepturi labore tempore expedita, et iste tenetur suscipit explicabo! Dolores, aperiam non officia eos quod asperiores</p>

    <input id="search" v-model="searchTerm" class="input" type="text" placeholder="Search" />
    <g-link v-for="result in searchResults" :key="result.id" :to="result.path">
      <div class="media">
        <figure class="media-left" v-if="result.logo">
          <p class="image is-64x64">
            <img :src="result.logo" />
          </p>
        </figure>
        <div class="media-content">{{ result.logiciel_libreLabel || result.Titre }}</div>
      </div>
    </g-link>
  </Layout>
</template>

<page-query>

</page-query>

<script>
export default {
  metaInfo: {
    title: "Hello, world!"
  },
  data: () => ({
    searchTerm: ""
  }),
  computed: {
    searchResults() {
      const searchTerm = this.searchTerm;
      if (searchTerm.length < 3) return [];
      console.log("preparing search");
      console.log(this.$search.search({ query: searchTerm, limit: 5 }));
      return this.$search.search({ query: searchTerm, limit: 5 });
    }
  }
};
</script>