<template>
    <i :class="`${isBrand} fa-${icon}`" />
</template>

<script>
const BRAND_ICONS = ['android', 'apple', 'linux', 'windows', 'freebsd', 'app-store-ios']

export default {
    props: {
        icon: {
            type: String,
            required: true
        }
    },
    computed: {
        isBrand() {
            return BRAND_ICONS.includes(this.icon) ? 'fab' : 'fas'
        }
    }
}
</script>

<style lang="scss" scoped>
i {
    &.fab, &.fas {
        font-size: 1.5rem;
        padding: 0 5px;
    }
}
</style>